<div class="login-wrap">
	<div class="center-log-sign"></div>
	<div class="login-html" style="background-color : rgba(236, 148, 60, 0.8); ">
		<div></div>
		<input id="tab-1" type="radio" name="tab" class="sign-in" style="text-align: center;" checked><label for="tab-1"
			class="tab">Log In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="login-page-center">
				<form [formGroup]="loginForm" (ngSubmit)="login()">
					<div class="sign-in-htm">
						<div class="group">
							<label for="user" class="label">Username</label>
							<input id="user" type="text" class="input" formControlName="userName">
						</div>
						<div class="group">
							<label for="pass" class="label">Password</label>
							<input id="pass" type="password" class="input" data-type="password"
								formControlName="password">
						</div>
						<div class="group">

							<button type="submit" class="button  btn-accent btn-block btn-flat b-r-10"
								style="background: #050505;  margin-top: 2rem;">
								LogIn
								<!-- <i class="fa fa-spinner fa-spin" *ngIf="loading"></i> -->
								<i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
							</button>
							<!-- <input type="submit" class="button" value="Log In"> -->
						</div>
						<div class="hr"></div>
						<div class="foot-lnk">
							<a href="#forgot">Forgot Password?</a>
						</div>
					</div>
				</form>
			</div>
			<div class="signup-page-center">

				<form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
					<!-- <div class="form-group">
			<label>Username</label>
			<input
			  type="text"
			  formControlName="firstName"
			  class="input"
			  [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors ||f['firstName'].touched}"
			/>
			<div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
			  <div *ngIf="f['firstName'].errors['required']">Username is required</div>
			  <div *ngIf="f['firstName'].errors['minlength']">
				Username must be at least 6 characters
			  </div>
			  <div *ngIf="f['firstName'].errors['maxlength']">
				Username must not exceed 20 characters
			  </div>
			</div>
		  </div>  -->

					<div class="sign-up-htm">
						<div class="group">
							<label for="userFirstName" class="label">FirstName</label>
							<input id="userFirstName" type="text" class="input" formControlName="firstName"
								[ngClass]="{ 'is-invalid': submitted && f['firstName'].invalid || f['firstName'].touched}">
							<div class="inline" *ngIf="submitted && f['firstName'].errors || f['firstName'].touched "
								class="invalid-feedback">
								<div *ngIf="f['firstName'].hasError('required')"><b>FirstName is Required</b></div>
								<div *ngIf="f['firstName'].hasError('minlength')"><b>Firstname is minimum 3</b></div>
								<div *ngIf="f['firstName'].hasError('maxlength')"><b>Firstname is maximum 20</b> </div>
							</div>
						</div>
						<div class="group">
							<label for="userLastName" class="label">LastName</label>
							<input id="userLastName" type="text" class="input" formControlName="lastName"
								[ngClass]="{'is-invalid' : submitted && f['lastName'].errors || f['lastName'].touched }">
							<div *ngIf="submitted && f['lastName'].errors || f['lastName'].touched "
								class="invalid-feedback">
								<div *ngIf="f['lastName'].hasError('required')"><b>lastName' is Required</b></div>
								<div *ngIf="f['lastName'].hasError('minlength')"><b>lastName' is minimum 3</b></div>
								<div *ngIf="f['lastName'].hasError('maxlength')"><b>lastNAme is maximum 20</b> </div>
							</div>
						</div>
						<!-- <div class="col-xl-3 col-md-4 invalid-feedback"
			*ngIf="submitted && f.lastName.errors">
			<div *ngIf="f.firstName.errors.required">First Name is required
			</div>
			<div *ngIf="f.firstName.errors.minlength">First Name min length
				should be 3 char long</div>
			<div *ngIf="f.firstName.errors.maxlength">First Name max length
				should be 20 char long</div>
		</div> -->
						<div class="group">
							<label for="passEmail" class="label">Email Address</label>
							<input id="passEmail" type="text" class="input" formControlName="email"
							 [ngClass]="{'is-invalid' : submitted && f['email'].errors || f['email'].touched }">
							<div *ngIf="submitted && f['email'].errors ||f['email'].touched " class="invalid-feedback">
								<div *ngIf="f['email'].hasError('required')"><b>Email is required</b></div>
								<div *ngIf="f['email'].hasError('pattern')"><b>Email should be Emialformat</b> </div>
							</div>
						</div>
						<div class="group">
							<label for="password" class="label">Password</label>
							<input id="password"  [type]="showPassword ? 'text' : 'password'" class="input" data-type="password"
								formControlName="password" [ngClass]="{'is-invalid' : submitted && f['password'].errors || f['password'].touched }">
								
							<div *ngIf="submitted && f['password'].errors || f['password'].touched "
								class="invalid-feedback">
								<span *ngIf="f['password'].hasError('required')"><b>password is required</b> </span>
								<!-- <div *ngIf="f['password']hasError('pattern')"> <b>password 8 characters 1 special character and alphanumeric</b></div> -->
								<!-- <div *ngIf="f['password'].errors['pattern']"><b> password 8 characters 1 special character and alphanumeric </b>  </div> -->
							</div>
						</div>
						<div class="group">
							<label for="passConfirm" class="label">Confirm Password</label>
							<input id="passConfirm" type="password" class="input" data-type="password"
								formControlName="confirmPassword"[ngClass]="{'is-invalid' : submitted && f['password'].errors || f['password'].touched }">
									<div *ngIf="submitted && f['confirmPassword'].errors ||f['confirmPassword'].touched "
									class="invalid-feedback">
									<span *ngIf="f['confirmPassword'].hasError('required')"><b>confirmPassword is required</b></span>
									
								</div>
							
						</div>

						<div class="group">

							<button type="submit" class="button  btn-accent btn-block btn-flat b-r-10"
								style="background: #050505; margin-top: 2rem;">
								Sign Up
								<!-- <i class="fa fa-spinner fa-spin" *ngIf="loadingReg"></i> -->
								<i class="fas fa-spinner fa-pulse" *ngIf="loadingReg"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>