.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 59%;
    top: 20px;
    color: rgb(255, 149, 0);
}
.hedder-yollow{
 background-color: blanchedalmond;
 padding: 23px;   
}
.circle {
    width: 25px; /* Adjust size as needed */
    height: 25px; /* Adjust size as needed */
    background-color: #000000;
    border-radius: 50%;
    border: 2px solid #000000; /* Border color similar to Flipkart wishlist logo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  