#carouselExampleDark.carousel {
  height: 500px; /* Set height of the carousel */
}

#carouselExampleDark .carousel-inner {
  height: auto; /* Allow inner content to overflow */
  display: flex;
  flex-direction: column;
}

#carouselExampleDark .carousel-item {
  width: 100%; /* Ensure full width */
}

#carouselExampleDark .carousel-item img {
  width: 100%; /* Set width of images */
  height: auto; /* Maintain aspect ratio */
}
.rotated {
  transform: rotateY(90deg);
  background-color: pink;
}