img {
    max-height: 220px !important;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center; // You can change this to bottom, right or left depending 
     // on the position you want.
     box-sizing: border-box;
  }

  .rounded-corners{
    border-radius: 13px;
  }
  #carouselExampleIndicators{
    // position: fixed;
  }