<div id="carouselExampleIndicators" class="carousel slide rotated" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <div class="carousel-inner h-25 d-inline-block">
      <div *ngFor="let item of carouselItems; let i = index" class="carousel-item" [class.active]="i === 0" >
        <img class="d-block w-100" src="{{ item.image }}" alt="{{ item.alt }}" rollingAnimation>
      </div>
      <!-- <div class="carousel-item active" data-bs-interval="2000" [@rollInOut]>
       
        <img [src]="Setbanner1" class="rounded-corners d-block w-100 h-25" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000" [@rollInOut]>
        <img [src]="Setbanner2" class="rounded-corners d-block w-100 h-25" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000" [@rollInOut]>
        <img [src]="Setbanner3" class="rounded-corners d-block w-100 h-25" alt="...">
      </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>